
body {
    background-color: black;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    display: flex;
    justify-content: center;
}
div {
    display: flex;
    justify-content: center;
}
